Flask==0.10.1
Flask-Bootstrap==3.2.0.2
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
flask-appconfig==0.9.1
gnureadline==6.3.3
ipython==2.3.0
itsdangerous==0.24
numpy==1.9.0
six==1.8.0
wsgiref==0.1.2
xlsx2csv==0.6.1
